#mapid { height: 90%; }


/* .my-div-icon {
  background-image: url(leaf-green.png);
  background-repeat: no-repeat;
  background-size: 24px 50px;
  padding-top: 30px;
} */

.hostileInst {
  background-image: url(Arianan_HQ.png);
  background-repeat: no-repeat;
  background-size: 200px 50px;
  padding-top: 40px;
  padding-right: 220px;
}

.spartan {
  background-image: url(Charlie_FOB.png);
  background-repeat: no-repeat;
  background-size: 200px 50px;
  padding-top: 40px;
  padding-right: 220px;
}

.blackjack {
  background-image: url(1st_PLT.png);
  background-repeat: no-repeat;
  background-size: 220px 50px;
  padding-top: 40px;
  padding-right: 220px;
}

.chestnut {
  background-image: url(2nd_PLT.png);
  background-repeat: no-repeat;
  background-size: 220px 50px;
  padding-top: 40px;
  padding-right: 220px;
}

.dragoon {
  background-image: url(3rd_PLT.png);
  background-repeat: no-repeat;
  background-size: 220px 50px;
  padding-top: 40px;
  padding-right: 220px;
}
