#mapid { height: 90%; }


/* .my-div-icon {
  background-image: url(leaf-green.png);
  background-repeat: no-repeat;
  background-size: 24px 50px;
  padding-top: 30px;
} */

.hostileInst {
  background-image: url(https://github.com/vanmeciv/OPORDS/blob/master/OPORD1/Arianan_HQ.PNG?raw=true);
  background-repeat: no-repeat;
  background-size: 140px 60px;
  padding-top: 50px;
  padding-right: 130px;
}

.spartan {
  background-image: url(https://github.com/vanmeciv/OPORDS/blob/master/OPORD1/Charlie_FOB.PNG?raw=true);
  background-repeat: no-repeat;
  background-size: 185px 50px;
  padding-top: 40px;
  padding-right: 185px;
}

.blackjack {
  background-image: url(https://github.com/vanmeciv/OPORDS/blob/master/OPORD1/1st_PLT.PNG?raw=true);
  background-repeat: no-repeat;
  background-size: 220px 50px;
  padding-top: 40px;
  padding-right: 220px;
}

.chestnut {
  background-image: url(https://github.com/vanmeciv/OPORDS/blob/master/OPORD1/2nd_PLT.PNG?raw=true);
  background-repeat: no-repeat;
  background-size: 220px 50px;
  padding-top: 40px;
  padding-right: 220px;
}

.dragoon {
  background-image: url(https://github.com/vanmeciv/OPORDS/blob/master/OPORD1/3rd_PLT.PNG?raw=true);
  background-repeat: no-repeat;
  background-size: 220px 50px;
  padding-top: 40px;
  padding-right: 220px;
}
