#mapid { height: 90%; }


/* .my-div-icon {
  background-image: url(leaf-green.png);
  background-repeat: no-repeat;
  background-size: 24px 50px;
  padding-top: 30px;
} */

.hostileInst {
  background-image: url(https://github.com/vanmeciv/OPORDS/blob/master/OPORD1/Arianan_HQ.PNG?raw=true);
  background-repeat: no-repeat;
  background-size: 140px 60px;
  padding-top: 50px;
  padding-right: 130px;
}

.spartan {
  background-image: url(https://github.com/vanmeciv/OPORDS/blob/master/OPORD1/Charlie_FOB.PNG?raw=true);
  background-repeat: no-repeat;
  background-size: 170px 50px;
  padding-top: 40px;
  padding-right: 185px;
}

.blackjack {
  background-image: url(https://github.com/vanmeciv/OPORDS/blob/master/OPORD1/1st_PLT.PNG?raw=true);
  background-repeat: no-repeat;
  background-size: 220px 50px;
  padding-top: 40px;
  padding-right: 220px;
}

.chestnut {
  background-image: url(https://github.com/vanmeciv/OPORDS/blob/master/OPORD1/2nd_PLT.PNG?raw=true);
  background-repeat: no-repeat;
  background-size: 220px 50px;
  padding-top: 40px;
  padding-right: 220px;
}

.thirdPLT {
  background-image: url(https://github.com/vanmeciv/OPORDS/blob/master/OPORD1/3rd_PLT.PNG?raw=true);
  background-repeat: no-repeat;
  background-size: 220px 50px;
  padding-top: 40px;
  padding-right: 220px;
}

.ambush {
  background-image: url(https://github.com/vanmeciv/OPORDS/blob/master/OPORD1/3rd_PLT_ambush.PNG?raw=true);
  background-repeat: no-repeat;
  background-size: 55px 55px;
  padding-top: 110px;
  padding-right: 120px;
}

.objective_dragoon {
  background-image: url(https://github.com/vanmeciv/OPORDS/blob/master/OPORD1/objective_dragoon.PNG?raw=true);
  background-repeat: no-repeat;
  background-size: 65px 50px;
  padding-top: 108px;
  padding-right: 138px;
}

.north_AO {
  background-image: url(https://github.com/vanmeciv/OPORDS/blob/master/OPORD1/ACo_Boundary.PNG?raw=true);
  background-repeat: no-repeat;
  background-size: 220px 50px;
  padding-top: 40px;
  padding-right: 220px;
}

.east_AO {
  background-image: url(https://github.com/vanmeciv/OPORDS/blob/master/OPORD1/BCo_Boundary.PNG?raw=true);
  background-repeat: no-repeat;
  background-size: 50px 220px;
  padding-top: 220px;
  padding-right: 50px;
}

.orp {
  background-image: url(https://github.com/vanmeciv/OPORDS/blob/master/OPORD1/ORP.PNG?raw=true);
  background-repeat: no-repeat;
  background-size: 18px 25px;
  padding-top: 220px;
  padding-right: 50px;
}

.protractor {
  background-image: url(military_protractor.png);
  background-repeat: no-repeat;
  background-size: 800px 800px;
  padding-top: 800px;
  padding-right: 800px;
}
